## Q1. List any five functions of the pandas library with execution.

In [11]:
import pandas as pd
# 1. .Series()
name = ["Kiara", "Claire", "Jennifer", "Mark", "John"]
age = [13, 15, 17, 12, 16]
series1 = pd.Series(name)
series2 = pd.Series(age)
frame = {'Name':series1, 'Age':series2}
print(series1)
print(series2)

# 2. .Dataframe()
df = pd.DataFrame(frame)
print(df)

# 3. .read_csv()
readcsv = pd.read_csv('addresses.csv')
print(readcsv)

# 4. .head()
print(readcsv.head(2))

# 5. .dropna()
new_df = readcsv.dropna()
print(new_df)

0       Kiara
1      Claire
2    Jennifer
3        Mark
4        John
dtype: object
0    13
1    15
2    17
3    12
4    16
dtype: int64
       Name  Age
0     Kiara   13
1    Claire   15
2  Jennifer   17
3      Mark   12
4      John   16
                    John       Doe                 120 jefferson st.  \
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

     Riverside   NJ   08075
0        Phila   PA    9119
1    Riverside   NJ    8075
2     SomeTown   SD   91234
3     SomeTown   SD     298
4  Desert City   CO     123
            John       Doe  120 jefferson st.  Riverside   NJ   08075
0           Jack  McGinnis       220 hobo Av.      Phila   PA    9119
1  John "Da Man"    Repici  120 Jefferson St.  Riverside   NJ    8075
                    John       Doe                 120 jefferson st.  \
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

     Riverside   NJ   08075
0        Phila   PA    9119
1    Riverside   NJ    8075
2     SomeTown   SD   91234
4  Desert City   CO     123

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [27]:
df = pd.DataFrame([[1, 'Jack', 24], [2, 'John', 17], [3, 'Doe', 15], [4, 'Mark', 18], [5, 'Mike', 15], [6, 'Chloe', 17]], columns=['A', 'B', 'C'])
# print(df)
newindex = [1,3,5,7,9,11]
newdf = df.set_index('A')
print(newdf)
redf = newdf.reindex(newindex)
print(redf)

       B   C
A
1   Jack  24
2   John  17
3    Doe  15
4   Mark  18
5   Mike  15
6  Chloe  17
       B     C
A
1   Jack  24.0
3    Doe  15.0
5   Mike  15.0
7    NaN   NaN
9    NaN   NaN
11   NaN   NaN

## Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should 
calculate and print the sum of the first three values, which is 60

In [19]:
import pandas as pd
import functools
df = pd.DataFrame([10,20,30,40,50], columns=['Values'])
# print(df)
rows = len(df.axes[0])
cols = len(df.axes[1])
# print(rows, cols)
data = df.head(3)
# print(data)
print(data.sum())

Values    60
dtype: int64

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [5]:
import pandas as pd
data = ['Aradhya', 'Amrita', 'Ananya', 'Arya']
df = pd.DataFrame(data, columns=['Text'])
print(df)
listdata = []
for i in data:
    listdata.append(len(i))
print(listdata)
df['Word_Count'] = listdata
print(df)

      Text
0  Aradhya
1   Amrita
2   Ananya
3     Arya
[7, 6, 6, 4]
      Text  Word_Count
0  Aradhya           7
1   Amrita           6
2   Ananya           6
3     Arya           4

## Q5. How are DataFrame.size() and DataFrame.shape() different?

Pandas DataFrame size():

    The size property is used to get an int representing the number of elements in this object and Return the number of rows if Series. Otherwise, return the number of rows times the number of columns if DataFrame.
    
Pandas DataFrame shape():

    The shape property is used to get a tuple representing the dimensionality of the Pandas DataFrame.

## Q6. Which function of pandas do we use to read an excel file?

pandas.read_excel()  is used to read an excel file in Pandas.

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [11]:
df = pd.DataFrame({'username': ['abc@gmail.com', 'xyz@yahoo.com', 'blah24@gmail.com']})
print(df)
print(df.username.str.extract("(.*)@"))

           username
0     abc@gmail.com
1     xyz@yahoo.com
2  blah24@gmail.com
        0
0     abc
1     xyz
2  blah24

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2

In [5]:
import pandas as pd
data = [[3,   5,   1], [8,   2,   7], [6,   9,   4], [2,   3,   5], [9,   1,   2]]
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)
df_new = df[(df["A"] > 5) & (df["B"] < 10)]
print(df_new)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [7]:
df = pd.DataFrame([10,20,30,40,50], columns=['Values'])
print(df.mean())
print(df.median())
print(df.std())

Values    30.0
dtype: float64
Values    30.0
dtype: float64
Values    15.811388
dtype: float64

## Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [34]:
import pandas as pd
sales = [10, 20,30,40,50,60, 70]
df = pd.DataFrame(sales, columns=['Sales'])
df['Date'] = pd.date_range(start='5/4/2023', periods=7, freq='D')
# print(df)
df.set_index('Date', inplace=True)
# print(df)
df['Sales'] = df['Sales'].rolling(7).mean()
print(df)

            Sales
Date
2023-05-04     10
2023-05-05     20
2023-05-06     30
2023-05-07     40
2023-05-08     50
2023-05-09     60
2023-05-10     70
            Sales
Date
2023-05-04    NaN
2023-05-05    NaN
2023-05-06    NaN
2023-05-07    NaN
2023-05-08    NaN
2023-05-09    NaN
2023-05-10   40.0

## Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

## For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame.

In [21]:
df1 = pd.DataFrame()
df1['Date'] = pd.date_range(start='1/1/2023', periods=5, freq ='D')
df1['Weekday'] = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday']
print(df1)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

## Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [37]:
import datetime
import pandas as pd
df1 = pd.DataFrame()
df1['Date'] = pd.date_range(start='1/1/2023', periods=40, freq ='D')
print(df1)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31
31 2023-02-01
32 2023-02-02
33 2023-02-03
34 2023-02-04
35 2023-02-05
36 2023-02-06
37 2023-02-07
38 2023-02-08
39 2023-02-09

## Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported ?

pandas library is the first and foremost necessary library that needs to be imported to use the basic functions of pandas.